ex-ample {
	display: block;
	position: relative;
	word-break: break-all;
}

ex-ample, ex-ample * { box-sizing: border-box; }

ex-ample > *, ex-ample > .hljs {
	display: block;
	min-height: 6em;
	padding: 0.5em 2em 0.5em 0.5em;
	position: relative;
}

ex-ample > code {
	white-space: pre-wrap;
}

ex-ample > *::after {
	font-family: monospace;
	position: absolute;
	right: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
}

ex-ample > code::after {
	content: "Example";
	bottom: 0.5em;
	transform-origin: 100% 100%;
	transform: rotate(90deg) translate(0, 100%);
}

ex-ample > output::after {
	content: "Result";
	top: 0.5em;
	transform-origin: 100% 0;
	transform: rotate(90deg) translate(100%, 0);
}
